body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0; /* Set a unique background color */
}

h1 {
    text-align: center;
}

form {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff; /* White background for forms */
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="number"],
button {
    display: block;
    width: calc(100% - 18px); /* Adjusted width to consider padding and border */
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #fff; /* Set background color for form entries */
}

button {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

.response-container {
    margin-top: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 3px;
    background-color: #f9f9f9; /* Light gray background for response containers */
}
